{% extends '../base/base.html' %}
{% block main %}
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">历史开奖数据</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">历史开奖数据,共{{total}}条数据,当前第{{page}}页共{{num_pages}}页</div>
  <div class="panel-body">
    <table class="table table-condensed">
      <tr>
        <th>序号</th>
        <th>期次</th>
        <th>开奖日期</th>
        <th>红球</th>
        <th>红球</th>
        <th>红球</th>
        <th>红球</th>
        <th>红球</th>
        <th>红球</th>
        <th>蓝球</th>
      </tr>
      {%for doubleball in doubleballs reversed%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{doubleball.qici}}</td>
          <td>{{doubleball.date|date:"Y-m-d"}}</td>
          <td>{{doubleball.red1}}</td>
          <td>{{doubleball.red2}}</td>
          <td>{{doubleball.red3}}</td>
          <td>{{doubleball.red4}}</td>
          <td>{{doubleball.red5}}</td>
          <td>{{doubleball.red6}}</td>
          <td>{{doubleball.blue}}</td>
        </tr>
      {%endfor%}
    </table>
  </div>
  <div class="panel-footer">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {%if doubleballs.has_previous%}
        <li><a href="/history_datas/?page=1">首页</a></li>
        <li><a href="/history_datas/?page={{page|add:'-1'}}">上一页</a></li>
        {%endif%}
        <li class="active"><a href="/history_datas/?page={{page|add:'0'}}">{{page}}</a></li>
        {%if doubleballs.has_next%}
        <li><a href="/history_datas/?page={{page|add:'1'}}">下一页</a></li>
        <li><a href="/history_datas/?page={{num_pages}}">尾页</a></li>
        {%endif%}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}
