<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block page-header %}
    {% include './top.html'%}
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <script src="/static/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <link href="/static/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="/static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <title>智能双色球系统</title>
  </head>
  <body>
    <div class="container">
      {% block main %}
      {% endblock %}
    </div>
  </body>
</html>
