{% extends './base.html' %}
{% block main %}
<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">首页</li>
</ol>
<div class="panel panel-default">
  <div class="panel-heading">欢迎进入智能双色球管理系统</div>
  <div class="panel-body">
    <h2 style="text-align: center;color: red;font-weight: 900;">恭喜发财</h2>
    <div style="width:2em;float:left;color: red;font-weight: 900;"><h2>早中晚中早晚必中</h2></div>
    <div style="width:2em;float:right;color: red;font-weight: 900;"><h2>多买少买多少要买</h2></div>
  </div>
  <div class="panel-footer">
    数据加载完毕
  </div>
</div>
{% endblock %}
